doctype html
html
  head
    title= title

    //- Stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    //- Favicon
    link(rel="icon" type="image/png" href="/images/logos/favicon.png")
  body
    //- Global Variables
    - const tmpImg = 'https://lunawood.com/wp-content/uploads/2018/02/placeholder-image.png'
    
    //- Header/Nav
    header
      nav
        img.nav__logo(src='/images/logos/sidequestlogo.png', alt="SideQuest DnD logo")

        ul
          li
            a(href="/") Inicio
          li
            a(href="/heroes") Héroes
          li
            a(href="/characters") Personajes
          li
            a(href="/story") Historia
          li
            a(href="/maps") Mapas
          //- If user is not logged in
          if !user
            li
              a(href="/users/login") Ingresar
          //- Else if user is logged in
          else
            li.l-dropdown
              a.m-cursor-normal #{user.username}
              ul.c-dropdown
                li 
                  a(href=`/users/user/${user.username}`) Cuenta
                li 
                  a(href='') Héroes
                li 
                  a(href='') Personajes
                li
                  a(href='') Historias
                if user.isAdmin
                  li
                    a(href='') Admin
                else if user.isDM
                  li
                    a(href='') DM
            li
              a(href="/users/logout")
                img#nav__icon(src='/images/icons/logout.png' alt="logout")
          
    main
      block content
