extends ../layout

block content

    .l-margin-start
    .l-main-content
        h1= user.username
        hr
        
        //- Change user and pass block with image
        .l-margin--3
        .l-login
            form.c-login-form(action='' method='post' autocomplete='off')
                .c-login-form__input
                    label(for="username") Usuario:
                    input(type="text" name="username" id="username" placeholder="Ingresa tu usuario nuevo..." required value=user.username disabled)
                .c-login-form__input
                    label(for="password") Contraseña Nueva:
                    input(type="password" name="password" id="password" placeholder="Ingresa tu contraseña nueva..." required disabled)
                .c-login-form__input
                    label(for="confirm_password") Confirmar Contraseña:
                    input(type="password" name="confirm_password" id="confirm_password" placeholder="Ingresa tu contraseña nueva..." required disabled)
                .c-login-form__input
                    button.c-button--white(type="submit" disabled) Actualizar información
            img#login__logo(src='/images/logos/sidequestlogo.png' alt='SideQuest logo')
                    