extends ../layout

block content

    .l-margin-start
    .l-divider
        .c-divider__left
            h1 Ingreso
        .c-divider__right

    .l-main-content
        .l-margin--7
        .l-login
            form.c-login-form(action='' method='post' autocomplete='off')
                .c-login-form__input
                    label(for="username") Usuario:
                    input(type="text" name="username" id="username" placeholder="Ingresa tu usuario..." required)
                .c-login-form__input
                    label(for="password") Contrase単a:
                    input(type="password" name="password" id="password" placeholder="Ingresa tu contrase単a..." required)
                .c-login-form__input
                    button.c-button--white(type="submit") Ingresar
            img#login__logo(src='/images/logos/sidequestlogo.png' alt='SideQuest logo')

    //- .outer_wrapper
    //-     .form_wrapper
    //-         form.credentials(action="" method="POST")
    //-             h2 Ingreso
    //-             .form_input
    //-                 label(for="username") Usuario:
    //-                 input(type="text" name="username" id="username" placeholder="Ingresa tu usuario..." required)
    //-             .form_input
    //-                 label(for="username") Contrase単a:
    //-                 input(type="password" name="password" id="password" placeholder="Ingresa tu contrase単a..." required)
    //-             .form_input
    //-                 button.button_small(type="submit") Ingresar