extends ../layout

block content
    .outer_wrapper
        if errors
            ul
                for error in errors
                    li= error.msg
        .form_wrapper
            form.credentials(action="" method="POST")
                h2 Crear Cuenta
                .form_input
                    label(for="username") Usuario:
                    input(type="text" name="username" id="username" placeholder="Ingresa tu usuario..." required)
                .form_input
                    label(for="username") Contrase単a:
                    input(type="password" name="password" id="password" placeholder="Ingresa tu contrase単a..." required)
                .form_input
                    label(for="username") Verificar Contrase単a:
                    input(type="password" name="confirm_password" id="confirm_password" placeholder="Confirma tu contrase単a..." required)
                .form_input
                    button.button_small(type="submit") Crear Cuenta