extends ../layout

block content
    link(rel="stylesheet" type="text/css" href="/javascripts/pagedown/demo.css")
    script(type="text/javascript" src="/javascripts/pagedown/Markdown.Converter.js")
    script(type="text/javascript" src="/javascripts/pagedown/Markdown.Sanitizer.js")
    script(type="text/javascript" src="/javascripts/pagedown/Markdown.Editor.js")

    .wmd-panel
        #wmd-button-bar
        textarea(class="wmd-input" id="wmd-input")
            | This is the *first* editor.
            | ------------------------------
            |
            | Just plain **Markdown**, except that the input is sanitized:
            |
            | <marquee>I'm the ghost from the past!</marquee>
            |
            | and that it implements "fenced blockquotes" via a plugin:
            |
            | """
            | Do it like this:
            |
            | 1. Have idea.
            | 2. ???
            | 3. Profit!
            | """
    div(id="wmd-preview" class="wmd-panel wmd-preview")
  
    <br /> <br />

    .wmd-panel
        #wmd-button-bar-second
        textarea(class="wmd-input" id="wmd-input-second")
            | This is the *second* editor.
            | ------------------------------
            | 
            | It has a plugin hook registered that surrounds all words starting with the
            | letter A with asterisks before doing the Markdown conversion. Another one gives bare links
            | a nicer link text. User input isn't sanitized here:
            | 
            | <marquee>I'm the ghost from the past!</marquee>
            | 
            | http://google.com
            | 
            | http://stackoverflow.com
            | 
            | It also includes a help button.
            | 
            | Finally, note that when you press Ctrl-Q or click the "Blockquote" button (without having a
            | selection), this editor creates an example text that's different from the first editor.
    div(id="wmd-preview-second" class="wmd-panel wmd-preview")
    script(type="text/javascript" src="/javascripts/test.js")