form(action="record" method="POST")
    input(type="hidden" name='ifirstname' value=firstname)
    input(type='hidden' name='ilastname' value=lastname)
    input(type='text' name='hellothere')
    button(type='submit') done